.link-container {
  display: flex;
  justify-content: space-between;
  width: 600px; /* Adjust to your desired width */
  margin: 0 auto;
  margin-top: 200px;  
  flex-wrap: wrap;
}

a {
  display: block;
  width: 180px; /* Adjust to your desired width */
  height: 180px; /* Adjust to your desired height */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}