#form {
    width: 600px;
    background-color:  white;
    margin: 0 auto;
    margin-top: 50px;
    padding: 50px;
  } 
  
  label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  label.radiolabel {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: medium;
    font-weight: lighter;
  }  

  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
